
@media (min-width: 320px) and (max-width: 575.98px) {


#top_header .logo {
	padding-top: 20px;
	text-align: center;
}
.logo img {
	width: 20%;
}
#top_header .logo-name h4 {
	text-align: center;
	line-height: 30px;
}
.header-wrp-right {
	float: left;
}
.header-loging {
	float: left;
}
.header-loging h6 {
	padding-top: 26px;
	line-height: 24px;
}
.header-search-bar {
	margin-bottom: 38px;
	margin-top: 15px;
}
.header-search-bar .button button {
	position: absolute;
	top: 19%;
	right: 27%;
}
.navbar-brand{
	display:
}
.navbar-toggler i {
	color: #fff;
	font-size: 28px;
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.5);
	border-color: transparent;
}
.navbar-nav {
	margin-top: 20px;
	background: #3b6557;
	padding-bottom: 30px;
	padding-top: 15px;
}
#headline .news-text {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
.banner-slider-item-1{
	height: 400px;
}
.banner-slider-item-2{
	height: 400px;
}
.banner-slider-item-3{
	height: 400px;
}
#about {
	margin-top: 55px;
}
#about .about_wrp_1 h4 {
	font-size: 24px;
}
.principal_mess {
	padding-top: 24px;
}
#our_class {
	margin-top: 53px;
}
.class_heading {
	margin-bottom: 0;
}
#counter {
	margin-top: 60px;
	padding-bottom: 30px;
}
.counter_item {
	margin-bottom: 30px;
}
#latest_news {
	margin-top: 52px;
}
.latest_news_head h3 {
	font-size: 30px;
	padding-bottom: 13px;
}
#gallery {
	margin-top: 25px;
}
.gallery_head {
	padding-bottom: 28px;
}
.gallery_head h3 {
	font-size: 30px;
}
footer {
	margin-top: 31px;
}
.footer_img_content h4 {
	font-size: 18px;
	padding-top: 22px;
}
.footer_wrp_1_content {
	margin-top: 50px;
}
.footer_wrp_2_head h4 {
	font-size: 24px;
	padding-bottom: 19px;
}
.footer_wrp_3_head h4 {
	font-size: 24px;
	padding-bottom: 14px;
	padding-top: 17px;
}
.footer_wrp_head h4 {
	font-size: 24px;
	padding-bottom: 18px;
	padding-top: 18px;
}
.footer_wrp_1_content p {
	text-align: justify;
}
.map {
	margin-bottom: 30px;
}










 }


@media (min-width: 576px) and (max-width: 767.98px) { 

#top_header .logo {
	padding-top: 20px;
	text-align: center;
}
.logo img {
	width: 20%;
}
#top_header .logo-name h4 {
	text-align: center;
	line-height: 30px;
}
.header-wrp-right {
	float: left;
}
.header-loging {
	float: left;
}
.header-loging h6 {
	padding-top: 26px;
	line-height: 24px;
}
.header-search-bar {
	margin-bottom: 38px;
	margin-top: 15px;
}
.header-search-bar .button button {
	position: absolute;
	top: 19%;
	right: 27%;
}
.navbar-brand{
	display:
}
.navbar-toggler i {
	color: #fff;
	font-size: 28px;
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.5);
	border-color: transparent;
}
.navbar-nav {
	margin-top: 20px;
	background: #3b6557;
	padding-bottom: 30px;
	padding-top: 15px;
}
#headline .news-text {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
.banner-slider-item-1{
	height: 400px;
}
.banner-slider-item-2{
	height: 400px;
}
.banner-slider-item-3{
	height: 400px;
}
#about {
	margin-top: 55px;
}
#about .about_wrp_1 h4 {
	font-size: 24px;
}
.principal_mess {
	padding-top: 24px;
}
#our_class {
	margin-top: 53px;
}
.class_heading {
	margin-bottom: 0;
}
#counter {
	margin-top: 60px;
	padding-bottom: 30px;
}
.counter_item {
	margin-bottom: 30px;
}
#latest_news {
	margin-top: 52px;
}
.latest_news_head h3 {
	font-size: 30px;
	padding-bottom: 13px;
}
#gallery {
	margin-top: 25px;
}
.gallery_head {
	padding-bottom: 28px;
}
.gallery_head h3 {
	font-size: 30px;
}
footer {
	margin-top: 31px;
}
.footer_img_content h4 {
	font-size: 18px;
	padding-top: 22px;
}
.footer_wrp_1_content {
	margin-top: 50px;
}
.footer_wrp_2_head h4 {
	font-size: 20px;
	padding-bottom: 19px;
}
.footer_wrp_3_head h4 {
	font-size: 20px;
	padding-bottom: 14px;
	padding-top: 17px;
}
.footer_wrp_head h4 {
	font-size: 20px;
	padding-bottom: 18px;
	padding-top: 18px;
}
.footer_wrp_1_content p {
	text-align: justify;
}
.map {
	margin-bottom: 30px;
}


 }


@media (min-width: 768px) and (max-width: 991.98px) { 

#top_header .logo-name h4 {
	line-height: 0;
	padding-top: 62px;
}
.header-search-bar {
	margin-top: 20px;
}
.header-loging h6 {
	line-height: 72px;
}
.header-search-bar .button button {
	top: 29%;
	right: 2px;
}
.navbar .navbar-nav .nav-item .nav-link {
	font-size: 16px;
	padding: 10px 12px;
}
#headline .news-text h4 {
	font-size: 20px;
	 line-height: 24px; 
}
#about {
	margin-top: 64px;
}
#about .about_wrp_1 h4 {
	font-size: 28px;
}
.principal_mess {
	padding-top: 25px;
}
#our_class {
	margin-top: 64px;
}
#counter {
margin-top: 70px;
padding-bottom: 30px;
}
.counter_item {
	margin-bottom: 30px;
}
#latest_news {
	margin-top: 62px;
}
#gallery {
	margin-top: 34px;
}
footer {
	margin-top: 40px;
}
.footer_img_content h4 {
	font-size: 18px;
	padding-top: 22px;
}
.footer_wrp_1_content {
	margin-top: 50px;
}
.footer_wrp_2_head h4 {
	font-size: 20px;
	padding-bottom: 19px;
}
.footer_wrp_3_head h4 {
	font-size: 20px;
	padding-bottom: 14px;
	padding-top: 17px;
}
.footer_wrp_head h4 {
	font-size: 20px;
	padding-bottom: 18px;
	padding-top: 18px;
}
.footer_wrp_1_content p {
	text-align: justify;
}
.map {
	margin-bottom: 30px;
}







 }


@media (min-width: 992px) and (max-width: 1199.98px) { 

#top_header .logo-name h4 {
	font-size: 18px;
	line-height: 92px;
}
#headline .news-text h4 {
	font-size: 24px;
	 line-height: 24px; 
}
#about .about_wrp_1 h4 {
	font-size: 28px;
}
.important_link_content ul li a {
font-size: 14px;
}
.counter_item h5 {
	font-size: 20px;
}
.footer_img_content h4 {
	font-size: 18px;
}
.footer_wrp_1_content {
	padding-top: 44px;
}
.footer_wrp_2_head h4 {
	font-size: 20px;
}
.footer_wrp_3_head h4 {
	font-size: 20px;
}
.footer_wrp_head h4 {
	font-size: 20px;
}


 }


@media (min-width: 1200px) { }